form
    display flex
    flex-direction column
    align-items center
    &.adaptive
        width 50%
        @media screen and (max-width: 850px)
            width 100%

.form-window
    padding 30px
    width 350px
    max-width 80%

.stepper-label
    &.mobile
        font-size 12px !important
        padding 0 8px !important

.form-row
    display flex
    align-items flex-end
    position relative
    padding-right 50px
    width 100%

.date-textfield
    width 100% !important

.datepicker-icon
    position absolute !important
    right 0

.sex-shirt-size-holder
    display flex
    width 100%

.checkbox
    margin-top 20px

.legal
    width 100%
    margin-top 40px

.submit-button
    margin 40px auto

.card-expiry-date
    display flex
    width 100%
    align-items flex-end
    & > div
        max-width 25%

    .delimiter
        margin 10px

.cvc
    width 100%
    & > div
        max-width 25%
