.fullscreen-centered
    background-color dark-blue
    min-height 100vh
    centered()
    
.query-result
    padding 20px
    width 100%
    overflow hidden

.profile
    form
        width 60%

.stepper-container
    width 100%

#entry-details
    display flex
    .details-container
        display flex
        flex-wrap wrap
    .entry-detail
        display flex
        width 50%
        padding-left 10%
        & > div
            display flex
        +below(768px)
            width 100%
    .field
        display flex
        align-items center
        padding 10px
    h3, p
        margin 0
