light-colors = #EDE7F6 #E8EAF6 #E3F2FD #E1F5FE #E0F7FA
dark-colors = #512DA8 #303F9F #1976D2 #0288D1 #0097A7

offset = 187
duration = 1.4s;

.spinner
    animation rotator duration linear infinite

@keyframes rotator
    0%
        transform rotate(0deg)
    100%
        transform rotate(270deg)

.path
    stroke-dasharray offset
    stroke-dashoffset 0
    transform-origin center
    &.light 
        animation dash duration ease-in-out infinite, colors-light duration*4 ease-in-out infinite
    &.dark 
        animation dash duration ease-in-out infinite, colors-dark duration*4 ease-in-out infinite

@keyframes colors-light
    for color, i in light-colors
        {25% * i}
            stroke color

@keyframes colors-dark
    for color, i in dark-colors
        {25% * i}
            stroke color

@keyframes dash
    0%
        stroke-dashoffset offset
    50%
        stroke-dashoffset (offset/4)
        transform rotate(135deg)
    100%
        stroke-dashoffset offset
        transform rotate(450deg)
