#login, #register, #recover, #profile, #reset-password
    background-color dark-blue
    min-height 100vh
    display flex
    justify-content center
    align-items center
    padding 40px 0

#alert-info
    display flex
    height 100%
    width 100%
    flex-direction column
    justify-content center
    align-items center
    padding 30px
    h3, h4
        roboto()
        color dark-blue
#profile
    background-color #fff
    
#profile-info
    height 100%
    width 100%
    form
        display flex
        flex-direction column
        justify-content center
        align-items center
    .buttons
        display flex
        a, button
            display block
            text-decoration none
            button()
    .button
        margin 8px

.input-wrapper
    max-width 800px
    margin-bottom 30px

.profile-input
    input()
    label
        width 30%
        color #7f7f7f
        roboto()
    .input
        width 200px
        display flex

.toaster
    z-index 99
    position fixed
    padding 10px 25px
    top -50px
    transition all .3s ease-out
    color #fff
    border-radius 20px
    roboto()
    &.success
        background-color green
    &.error
        background-color red
    &.active
        top 40px

#recover.email-sent
    background-color #fff
