#register .form-window
    width 500px
    padding 30px

.form-window
    background-color #fff
    width 350px
    padding 40px

    form
        height 100%
        display flex
        flex-direction column
        justify-content space-around
    .input-container
        input()
        .input
            position relative
            flex-grow 1
            &:not(:only-child)
                &:last-child
                    margin-left 7px
                &:first-child
                    margin-right 7px
            &.error input
                border 1px solid error-red
    a
        display block
        text-decoration none
        text-align center
    button, .register a
        margin-bottom 10px
        button() 
    .forgot-password a
        roboto()
        text-decoration none
        color blue

.error-message
    position absolute
    left 5px
    span
        roboto()
        color error-red
        font-size .7em