@import url('https://fonts.googleapis.com/css?family=Roboto+Slab')
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500')

body
    margin 0

html, body, #root, #root > div
    height 100%

*
    box-sizing border-box

h1, h2, h3, h4, h5, p, a
    roboto()

a
    text-decoration none
    &, &:active
        color blue
    &:hover
        color darken(blue, 20)

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0

input[type="number"]
    -moz-appearance textfield