s-margin = 15px
m-margin = 2 * s-margin
l-margin = 3 * s-margin
   
margin(size)
    margin size
    &-top
        margin-top size
    &-bottom
        margin-bottom size
    &-left
        margin-left size
    &-right
        margin-right size
      
.margin
    &-s
        margin(s-margin)
    &-m
        margin(m-margin)
    &-l
        margin(l-margin)

.flex-column
    flex-column()

.children-centered
    centered() 

.text-centered
    text-align center