.drawer
    & > div
        padding-top 80px
        background-color dark-blue !important

.app-bar
    position fixed !important 
    z-index 1500 !important

.main-view-container
    padding-top 70px
    &:not(.mobile)
        margin-left 256px
        .main-view
            padding 30px
    &.mobile
        .main-view
            padding 12px