padding-size=10px

roboto()
    font-family 'Roboto Slab'
    
input()
    display flex
    width 100%
    flex-grow 1
    input, select
        background-color #fff
        font-family 'Roboto Slab'
        font-size .9em
        width 100%
        border 1px solid #D0D0D0
        padding padding-size
        &:focus
            outline none
    &:not(:last-child)
        margin-bottom 20px

button()
    font-family 'Roboto Slab'
    font-weight bold
    font-size 1em
    color #fff
    width 100%
    background-color blue
    border none
    border-radius 2px
    padding padding-size
    cursor pointer
    transition all .2s ease-out
    &:hover, &:active
        color #dfdfdf
        outline none
        
flex-column()
    display flex
    flex-direction column
    align-items center

centered()
    display flex
    justify-content center
    align-items center
